.bronze-border {
    border: 6px solid #cd7f32; /* Bronze color */
}
/* Menu.js CSS */
.menu-card {
    max-width: 500px; /* Adjust as needed */
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.burger-preview {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px; /* Adjust height as needed */
    position: relative;
}

.burger-preview img {
    position: absolute;
    bottom: 0;
    width:150px;
    height:150px;
}



.ingredient-options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ingredient-option {
    cursor: pointer;
    text-align: center;
}

.ingredient-option img {
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Adjust size as needed */
}


