.bronze-border {
    border: 6px solid #cd7f32; /* Bronze color */
}

.icon:hover {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(100%) hue-rotate(20deg);
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 75px); /* Adjust the spacing between the square and the dropdown */
    left: 50%;
    transform: translateX(-50%);
    width: 100px; /* Adjust the width of the dropdown menu */
    background-color: #3b85fb; /* Set background color */
    border-radius: 8px; /* Add border radius */
    padding: 8px; /* Add padding */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.square-with-icon:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 5px); /* Adjust Y offset for sliding effect */
}

.dropdown-item img {
    width: 24px; /* Adjust size of icons */
    height: 24px;
    margin-right: 8px;
}


Menu.js CSS
.menu-card {
    max-width: 500px; /* Adjust as needed */
    margin: 0 auto;
    
}

.burger-preview {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px; /* Adjust height as needed */
    position: relative;
}

.burger-preview img {
    position: absolute;
    bottom: 0;
    width:150px;
    height:150px;
}



.ingredient-options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ingredient-option {
    cursor: pointer;
    text-align: center;
}

.ingredient-option img {
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Adjust size as needed */
}


